@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
  }
  body,
  html {
    margin: 0;
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    height: 100%;
  }
  #root {
    height: 100%;
  }
  h1 {
    font-size: 3.8em;
    font-weight: 800;
    font-family: "Handjet", display;
    line-height: 1.5;
    margin: 0;
  }
  h2 {
    font-size: 2.4em;
    font-weight: 600;
    font-family: "Handjet", display;
    line-height: 1.3;
    margin: 0;
  }
  h3 {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1;
    margin: 0;
  }

  input:is(:autofill, :-webkit-autofill),
  input:is(:autofill, :-webkit-autofill):hover,
  input:is(:autofill, :-webkit-autofill):focus,
  textarea:is(:autofill, :-webkit-autofill),
  textarea:is(:autofill, :-webkit-autofill):hover,
  textarea:is(:autofill, :-webkit-autofill):focus,
  select:is(:autofill, :-webkit-autofill),
  select:is(:autofill, :-webkit-autofill):hover,
  select:is(:autofill, :-webkit-autofill):focus,
  input:-internal-autofill-selected,
  input:-internal-autofill-selected:hover,
  input:-internal-autofill-selected:focus,
  textarea:-internal-autofill-selected,
  textarea:-internal-autofill-selected:hover,
  textarea:-internal-autofill-selected:focus,
  select:-internal-autofill-selected,
  select:-internal-autofill-selected:hover,
  select:-internal-autofill-selected:focus {
    font-family: inherit !important;
    -webkit-text-fill-color: currentColor !important;
    color: inherit !important;

    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;

    border: 1px solid currentColor !important;

    transition: background-color 9999s ease-in-out 0s,
      color 9999s ease-in-out 0s !important;
  }
}
