@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg: #e7e9df;
  --color-text: #1f2937;
  --color-text-rgb: 31, 41, 55;
  --color-switch: #dadfc9;
  --color-hover-switch: #c9cfb2;
  --color-btn-nav-hover: oklch(0.8221_0.0139_115.89_/_0.8);
}

@layer theme {
  :root {
    @variant dark {
      --color-bg: #2f4858;
      --color-text: #f3f4f6;
      --color-text-rgb: 243, 244, 246;
      --color-switch: #007688;
      --color-hover-switch: #00919e;
      --color-btn-nav-hover: oklch(0.3486_0.0362_238.35_/_0.8);
    }
  }
}

@layer utilities {
  .shadow-bottom {
    box-shadow: 0 1px 0 0 rgba(var(--color-text-rgb), 0.2);
  }

  @keyframes wobble {
    0%, 100% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(1.1) rotate(2deg);
    }
  }
  .animate-wobble {
    animation: wobble 4s ease-in-out infinite;
  }

  @keyframes rotate-slow {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .animate-rotate-slow {
    animation: rotate-slow 20s linear infinite;
  }
}

body, html {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  height: 100%;
}

#root {
  height: 100%;
}

h1 {
  font-size: 3.8em;
  font-weight: 800;
  font-family: 'Handjet', display;
  margin: 0;
}
h2 {
  font-size: 2.4em;
  font-weight: 600;
  font-family: 'Handjet', display;
  margin: 0;
}
h3 {
  font-size: 1.8em;
  font-weight: 400;
  margin: 0;
}
