@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg: #e7e9df;
  --color-text: #1f2937;
  --color-primary: #87acb0;
  --color-secondary: #dadfc9;
  --color-accent: #10b981;
}

@layer theme {
  :root {
    @variant dark {
      --color-bg: #2f4858;
      --color-text: #f3f4f6;
      --color-primary: #bde4e8;
      --color-secondary: #007688;
      --color-accent: #059669;
    }
  }
}

body, html {
  margin: 0;
  font-size: 1em;
  height: 100%;
}

#root {
  height: 100%;
}

h1 {
  font-size: 3.2em;
  font-weight: 600;
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
